name: renderer_switcher
description: Switch flutter web renderers at runtime
version: 0.1.0
homepage: https://github.com/wilsonowilson/renderer_switcher

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.6.3

dev_dependencies:
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      web:
        pluginClass: RendererSwitcherWeb
        fileName: src/renderer_switcher_web.dart
